#row-um-altura{
    min-height: 110px;
}
#row-dois-altura{
    min-height: 320px;
}
#row-tres-altura{
    min-height: 350px;
}
#row-rodape-altura{
    min-height: 150px;
}
#col-width{
    min-width: 5%;
}
#col-button{
    padding-left: 10px;
}
#personal{
    text-align: left;
}
h3{
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(107, 107, 107) ;
}
#h3-solicitacoes{
    text-align: center;
}
.btn-outline-success {
    position: absolute;
    right: 83px;
    bottom: 7px;
    color:white;
    background-image: none;
    background-color: black;
    border-color:black;
}
  
.btn-outline-success:hover {
    color: #fff;
    background-color: gray;
    border-color: gray;
}
  
.btn-outline-success:focus, .btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.btn-outline-secondary {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: black;
    background-image: none;
    background-color: transparent;
    border-color:black;
}
  
.btn-outline-secondary:hover {
    color: #fff;
    background-color: gray;
    border-color: gray;
}
  
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}
td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}